:root {
  --main-font: 'Open Sans', sans-serif;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  outline: none;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 11px;
  line-height: 1.6em;
  letter-spacing: 0;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  border-radius: 2px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
}

.header {
  background: linear-gradient(to top, rgba(13, 11, 23, 0.78), rgba(13, 11, 23, 0.78)), url('../images/header-bg.jpg') no-repeat top center;
  background-size: cover;
  color: #fff;
  padding-top: 38px;
  padding-bottom: 243px;
}

.navigation {
  padding-bottom: 35px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  margin-bottom: 170px;
}

.logo {
  font-size: 30px;
  color: #fff;
}

.logo span {
  color: #626fe4;
  font-weight: 700;
}

.menu {
  display: flex;
}

.menu__item {
  text-transform: uppercase;
}

.menu__item:not(:last-child) {
  margin-right: 70px;
}

.menu__link {
  position: relative;
  color: #fff;
}

.menu__link::after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  bottom: -40px;
  background-color: rgba(255, 255, 255, 0.502);
  height: 3px;
  width: 0;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}

.menu__link_lch::after {
  left: 25%;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 200%;
}

.menu__link_lch:hover::after,
.menu__link_lch:focus::after {
  width: 150%;
}

.offer {
  text-align: center;
}

.offer__title {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.57em;
  margin-bottom: 28px;
}

.offer__subtitle {
  max-width: 556px;
  font-size: 22px;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.offer__btn {
  background-color: rgb(232, 69, 69);
  width: 200px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.offer__btn:hover,
.offer__btn:focus {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.features {
  padding-top: 122px;
  padding-bottom: 49px;
  text-align: center;
}

.features__item {
  flex: 0 0 318px;
  max-width: 318px;
  margin-bottom: 73px;
}

.features__item:hover .features__title::before,
.features__item:focus .features__title::before {
  transform: rotateY(180deg);
}

.features__title {
  color: #2d3033;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 18px;
}

.features__title::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 31px;
  transition: all 0.5s linear;
}

.features__title_icon1::before {
  background-image: url(../images/icon/icon-1.png);
}

.features__title_icon2::before {
  background-image: url(../images/icon/icon-2.png);
}

.features__title_icon3::before {
  background-image: url(../images/icon/icon-3.png);
}

.features__title_icon4::before {
  background-image: url(../images/icon/icon-4.png);
}

.features__title_icon5::before {
  background-image: url(../images/icon/icon-5.png);
}

.features__title_icon6::before {
  background-image: url(../images/icon/icon-6.png);
}

.features__text {
  color: #6c7279;
}

.gallery {
  padding-bottom: 102px;
}

.gallery__item {
  margin-bottom: 27px;
}

.gallery__overlay-wrap {
  position: relative;
}

.gallery__overlay {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.gallery__title {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.gallery__item:hover .gallery__overlay,
.gallery__item:focus .gallery__overlay {
  opacity: 1;
  visibility: visible;
}

.teams {
  padding-top: 110px;
  padding-bottom: 102px;
  background-color: rgba(108, 114, 121, 0.09);
}

.teams__card {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 293px;
  border-bottom: 1px solid transparent;

  transition: all 0.2s linear;
}

.teams__card:hover,
.teams__card:focus {
  transform: translateY(-5px);
  border-bottom: 1px solid rgb(99, 99, 99);
}

.teams__card:hover .teams__img,
.teams__card:focus .teams__img {
  filter: grayscale(0);
}

.teams__img {
  margin-bottom: 28px;
  filter: grayscale(1);
  transition: all 0.2s linear;
}

.teams__title {
  margin-bottom: 8px;
  color: #2d3033;
  font-size: 22px;
}

.teams__subtitle {
  margin-bottom: 19px;
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
}

.teams__text {
  color: #6c7279;
  margin-bottom: 26px;
  line-height: 1.5em;
}

.teams__social-list {
  display: flex;
}

.teams__social-item {
  display: block;
  width: 39px;
  height: 39px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 4px;
  border: 1px solid #e8ecee;
  transition: all 0.2s linear;
}

.teams__social-item:hover,
.teams__social-item:focus {
  background-color: #53354a;
}

.teams__social-item_facebook {
  background-image: url('../images/icon/facebook.png');
}

.teams__social-item_twitter {
  background-image: url('../images/icon/twitter.png');
}

.teams__social-item_linkidin {
  background-image: url('../images/icon/linkidin.png');
}

.cite__container {
  padding: 0;
}

.cite__bg {
  background-image: url('../images/section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.cite__block-text {
  padding-top: 133px;
  padding-bottom: 150px;
  background-color: #53354a;
  color: #fff;
}

.cite__text {
  font-size: 36px;
  line-height: 1.16em;
  font-style: italic;
  margin-bottom: 32px;
}

.cite__context {
  font-size: 13px;
  text-transform: uppercase;
}

.download {
  padding-top: 95px;
  margin-bottom: 100px;
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-size: 28px;
  margin-bottom: 9px;
  line-height: 1.2em;
}

.download__subtitle {
  color: #2d3033;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.download__btn {
  background-color: rgb(232, 69, 69);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.download__btn:hover,
.download__btn:focus {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.footer {
  padding-top: 80px;
  padding-bottom: 94px;
  background-color: #3a3e64;
  color: #fff;
  text-align: center;
}

.footer__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer__adress {
  color: rgba(255, 255, 255, 0.5);
}

.footer__text {
  max-width: 340px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__text span {
  color: #e84545;
}

.footer__text a {
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .menu__item {
    margin-left: auto;
  }

  .cite__block-text {
    padding-left: 69px;
    padding-right: 15px;
  }

  .cite__text {
    max-width: 505px;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .menu {
    justify-content: space-between;
  }

  .gallery__item {
    display: flex;
    justify-content: space-around;
  }

  .teams {
    padding-bottom: 62px;
  }

  .teams__card {
    margin-bottom: 40px;
  }

  .cite__bg {
    height: 350px;
  }

  .cite__block-text {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .teams {
    padding-bottom: 62px;
  }

  .teams__card {
    margin-bottom: 40px;
    text-align: center;
  }

  .teams__social-list {
    display: flex;
    justify-content: center;
  }

  .teams__img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0);
    margin-bottom: 80px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .cite__text {
    font-size: 30px;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__title {
    margin-top: 30px;
  }

  .footer__text {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__link:hover::after,
  .menu__link:focus::after {
    width: 0;
  }

  .menu__link_lch:hover::after,
  .menu__link_lch:focus::after {
    width: 0;
  }
}
